dist: trusty
language: node_js
node_js:
- node
cache:
  directories:
  - node_modules
before_install:
- if [ -d node_modules ] && [ x$(cat node_modules/.last-node-version 2>/dev/null) != x$(node -e 'console.log(process.version)') ]; then npm rebuild --update-binary && node -e 'console.log(process.version)' > node_modules/.last-node-version; fi
script:
- npm run lint && npm test
deploy:
  provider: npm
  email: npm@collaborne.com
  api_key:
    secure: "X/VBEI3+aRTZWtmtPcyCScAq8sfPV7ychZFh0EnLLZGXTd27zsod2no93jy5HMDFcxHFCPktPjZ4Q1aDxy4hM9gZfE7AwGVnz4zrASqy/nmJ9Q5V6exot87WDZhfnxgb/Vvwet0c+Fx8P1Yu1jUmrOYqeSiREk/nnoTK32jCi9fwmngXVdgTjwxigi/SH0p8uFaYPOCr6t3osRwud7IbQTmgctT5auqj/myQcFITbKNDDP1PDpSCtAMrjVww8blfNGBOCcnJF1rHqMIWUHu+j6BOoKsQFERhBGrNDx/EM4ZDo1aLvuFWWQVO1/R81hHRV7QxCTk+0BI5zzF0BKCtA0LW78vgdt+gUtVLz9Rd/Bxo7tJ5C5tYm0Tu1+aYMU9hKkHb6s8Y1jqemj8Ghv2iEmXjRYLwqTgjO/joWo56mayFBW1PmX8MlBiN36q5DFsqzZ+9uLkEzcrYhrRcPaX5R5LHw3UGcum/rcfFMKEwRfpjWmqgS6mwLh7C/2A6XkK1M08Myt9nK7di7Fe7Ye60+RVhm5ilG/wRhHsEHb9kW9XB/lCsQJq4VFpOv1xGPHGTTKHf72/1FGF8y29zJ8dPKScmNRTVE8JAZlojR8ApQyvs2GfF5xQlLmLthE0+4hhXtgMp7bVYfZ6V1S7OzrXElVr3CjCA2uZNwAl24ydZRd4="
  on:
    tags: true
    condition: $(node -e 'console.log("v" + require("./package.json").version)') = ${TRAVIS_TAG}
  skip_cleanup: true
